body {
  background-color: #e0e5ec; 
}

.about-container {
  background-color: #e0e5ec;
  width: 50%;
  height: 900px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 8px 8px 15px #a3b1c6, -8px -8px 15px #ffffff; 
  text-align: left; 
  border: none;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 5px;
  padding-right: 5px;
  color: #333;
}

.image-container {
  text-align: center; 
  margin-top: 15px; 
}

.image-container img {
  width: 80%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
  box-shadow: 4px 4px 10px #a3b1c6, -4px -4px 10px #ffffff;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
    color: #333;
  }

  p {
    font-size: 1rem;
    color: #333;
  }

  .image-container img {
    margin-top: 10px;
    border-radius: 10px;
  }
}
