body {
  background-color: #e0e5ec;
}

.contact-container {
  background-color: #e0e5ec;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 8px 8px 15px #a3b1c6, -8px -8px 15px #ffffff;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.contact-info {
  font-size: 1.2rem;
}

.contact-info p {
  margin: 10px 0;
  color: #333;
  font-size: large;
}

.contact-info a {
  color: #333;
  text-decoration: none;
  font-size: large;
}

.contact-info a:hover {
  text-decoration: underline;
  color: lightcoral;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contact-container {
    width: 90%;
    padding: 10px;
  }
  
  h1 {
    font-size: 1.5rem;
  }

  .contact-info {
    font-size: 1rem;
  }
}
